body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: #0099EE;
}

a:hover {
  color: ##005599;
}

.text-primary {
  color: #0099EE !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.4px;
  margin-bottom: 75px;
  text-transform: none;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.btn {
  font-weight: 700;
  border-radius: 100px;
  padding: .375rem 4rem;
}

.btn-xl {
  font-size: 18px;
  padding: 5px 40px;
}

.btn-primary {
  background-color: #0099EE;
  border-color: #0099EE;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #0077CC !important;
  border-color: #0077CC !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 119, 204, 0.5) !important;
}

::-moz-selection {
  background: rgba(255, 255, 255, .5);
  text-shadow: none;
}

::selection {
  background: rgba(0, 123, 255, .5);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
  background-color: #006eb9;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #0077CC;
}

#mainNav .navbar-brand {
  color: #0099EE;
    
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #0099EE;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 300;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #0099EE!important;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    height: 3em;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
    color: rgba(0,0,0,.8);
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
      color: rgba(0,0,0,.8);
  }
  #mainNav.navbar-shrink .navbar-brand {
    height: 3em;
    font-size: 1.25em;
    padding: 12px 0;
  }
}

@media (max-width: 991px) 
{
  #mainNav{
      background-color: white;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
      color: rgba(0,0,0,.8);
  }
}

header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/clouds-bg.png"), linear-gradient(to bottom, #005599, #006eb9 28%, #0098ef);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, right;
  background-size: contain, cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    opacity: 0.5;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 76px;
    font-weight: 200;
    line-height: 0.64;
    letter-spacing: 0.9px;
    margin-bottom: 50px;
  }
  header.masthead .intro-text .intro-caption {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.4px;
    margin-bottom: 50px;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

section#about img {
    max-height: 600px;
    width: auto;
    opacity: .8;
}

.carousel-inner {
  border-radius: 32px;
  background-color: #000000;
  box-shadow: 0 2px 19px 0 rgba(0, 0, 0, 0.1);
}

section#about {
    background-image: url("../img/about/nuvens-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50px 150px;
}

section#about p {
    color: rgba(0,0,0,.8);
    line-height: 1.75;
    letter-spacing: 0.3px;
}

section#about h2 {
    margin-bottom: 84px;
}

section#about h6 {
    color: #0077cc;
    line-height: 1.15;
    letter-spacing: 0.4px;
}
section#about div .spaced {
    margin-bottom: 98px;
}

.line {
  width: 50px;
  border: solid 2px #33ccff;
}

.servicos-bg{
    background-image: url("../img/servicos/nuvens-bg.png");
    background-repeat: repeat-y;
    background-size: contain;
    background-position: 50px 150px; 
    background-color: #E8F4FA;
}

section#servicos h4 {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.5px;
  text-align: left;
  color: #005599;
}

section#servicos p {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 0.3px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}

section#servicos .text-block {
    margin-top: 20px;
}

svg {
  margin-left: auto;
}

.trabalhe {
  background: #00b9ec;
  background-image: url("../img/trabalhe-conosco/bg-trabalhe-conosco.png"); /* fallback */
  background-image: url("../img/trabalhe-conosco/bg-trabalhe-conosco.png"), linear-gradient(to bottom, #00b9ec, #0083d4); /* W3C */
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}
section#trabalhe h2 {
  line-height: 1.11;
  letter-spacing: 0.9px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 32px;
}

section#trabalhe a {
  border-radius: 20px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: #e8f4fa;
  padding: 12px 32px 12px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #0099ee;

}

section#portifolio {
    background-image: url("../img/portfolio/nuvens-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50px 150px;
}

section#portifolio .nav-pills .nav-link {
  border-radius: 20px;
  border: solid 1px #0099ee;
  margin: 49px 16px 0;
}

section#portifolio .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  border-radius: 20px;
  background-color: #0099ee;
}

section#portifolio H4 {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.97;
  letter-spacing: 0.6px;
  text-align: left;
  color: #0077cc;
  margin: 24px 0 32px;
}

section#portifolio div .spaced {
    margin-top: 48px;
}

section#portifolio p {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 0.3px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);

}

section#social {
    background-image: url("../img/social/Nuvem.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center 160px;
    padding: 128px 0 128px;
}

section#social .carousel-inner {
    background-color: transparent;
    box-shadow: none;
}

section#social img {
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 100%;
    box-shadow: 10px 0 30px 0 rgba(81, 116, 141, 0.4);
}

section#social h5.coment {
    padding: 32px 250px 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 0.3px;
    color: rgba(0, 0, 0, 0.7);
}

section#social .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230077cc' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

section#social .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230077cc' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.perfil-id {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.05;
  letter-spacing: 0.4px;
  color: #0077cc;
}

/*Background Clientes*/
.bg-grey {
    background-color: #e0e0e0;
}

section#clientes img {
    margin: 20px;
}

section#contact {
    background-image: url("../img/contact/nuvens-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50px 150px;
    padding: 150px 0 80px;
}

.section-heading {
  color: #005599;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 12px 12px 12px 24px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: #f5f5f5;
  border: solid 1px #cfcfcf;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 100px;
}

section#contact .form-control:focus {
  border-color: #0099EE;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 300;
  color: ##7d7d7d;
}

section#contact :-moz-placeholder {
  font-weight: 300;
  color: ##7d7d7d;
  /* Firefox 18- */
}

section#contact ::-moz-placeholder {
  font-weight: 300;
  color: ##7d7d7d;
  /* Firefox 19+ */
}

section#contact :-ms-input-placeholder {
  font-weight: 300;
  color: ##7d7d7d;
}

section#contact h5 {
    color: rgba(0,0,0,.5);
    font-weight: 400;
    margin-top: 8px;
}

section#contact .row .spaced {
    margin-bottom: 32px;
}

i.circle {
    border: 1px solid;
    border-radius: 100px;
    padding: 10px;
    color: #005599;
}

footer {
  padding: 16px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #7d7d7d;
  border-radius: 100%;
  outline: none;
  background-color: white;
  text-align: center;
  border: 1px solid rgb(0,0,0,.8);
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: ghostwhite;
  color: #0099EE;
  border: 1px solid #0099EE;
}

